/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Federo&display=swap');

header {
    font-size: 100px;
    position: relative;
    text-align: center;

}
#hello {
color: red;
background-color: lightblue;
margin-left: 20px;
}
.greating {
    color: blue;
    background-color: lightcyan;
}
.me {
    color: greenyellow;
    background-color: darkorange;
}

img {
    display: flex;
    size: 50%;
}