/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Federo&display=swap');

header {
    font-size: 100px;
    position: relative;
    text-align: center;
    font-weight: 900;
    text-shadow: 8px 8px 0px black;
}
    /* Background Image */
#hello {
color: red;
margin-left: 20px;
}
.greating {
    color: blue;
}
.me {
    color: greenyellow;
}

.img-fluid {
    max-width: 50%;
}