/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Federo&display=swap');
/*header styling */
header {
    font-size: 100px;
    position: relative;
    text-align: center;
    font-weight: 900px;
    text-shadow: 8px 8px 0px black;
}
    /* Background Image */
    
body {
        background: url('../images/bgimg1.jpg') no-repeat center/cover;
        font-family: Arial, sans-serif;
        height: 100vh;
        margin: 0;
    }
    /* Container styling */
#hello {
color: rgb(22, 21, 21);
margin-left: 20px;
}
#greating {
    color: rgb(22, 21, 21);
    margin-bottom: 20px;
}
.me {
    color: rgb(22, 21, 21);
    margin-top: 20px;
}

.img-fluid {
    max-width: 50%;
}
/* Image styling */
.bgimg {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
/* Button styling */
.buttons {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center; /* Center horizontally */
    gap: 10px;               /* Optional: Adds some space between buttons */
}

.buttons :hover {
    background-color: rgb(33, 32, 32);  /* Darker shade on hover */
    color: white;
}
/* Media Queries for Small Screens (Max width 768px) */
@media screen and (max-width: 768px) {
    /* Hide regular buttons */
    .buttons button {
        display: none;
    }
    
    /* Show burger icon */
    .burger-icon {
        display: block;
    }
}